/* ESTILO GERAL*/
*{
    font-family: 'Times New Roman', Times, serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
body{
    background-color: #d4c9c7;
    height:100vh;
    
}

.interface{
    max-width: 12500px;
    margin: 0 auto;
    font-size: 23px;
    height: 200px;

}
/*  ESTILO CABEÇALHO*/
header{
    padding: 0px 2%;
    background-color: #2d383e;
    
    
    
}
header > .interface{
    display: flex;
    align-items: center;
   justify-content: space-between; 
   margin: 0px;
   padding:0;
}

header a{
    color: inherit;
    text-decoration: none;
    display: inline-block;
    transition: .2s;
}
header a:hover{
    color: #fff;
    transform: scale(1.05);
}


header nav ul{
    list-style-type: none;
}

header nav ul li{
    display: inline-block;
    padding: 0 70px;
}
header .btn-contato button{
    padding: 10px 40px;
    font-size: 18px;
    font-weight: 600;
    background-color: #060a0d
    border: 0;
    border-radius: 30px;
    cursor: pointer;
}

.flex{
    display: flex;
}



/* ESTILO TOP SITE */
.conteudo {
    display: flex; /* Ativa o Flexbox */
    align-items: center; /* Centraliza verticalmente os itens */
    justify-content: space-between; /* Adiciona espaço entre o texto e a imagem */
    gap: 20px; /* Espaço entre o texto e a imagem */
    padding: 20px; /* Adiciona preenchimento ao redor do conteúdo */
    margin: 30px 100px;
    
  }

  .conteudo p{
    margin: 40px 0;
  }
  
  .texto {
    flex: 1; 
    
  }
  .texto p{
    font-size: 25px;
  }
  .texto h1{
    text-decoration: underline;
    font-size: 50px;
  }
  
  .imagem {
    flex: 1; /* Faz com que a imagem ocupe o espaço disponível */
    display: flex; /* Para centralizar a imagem */
    justify-content: center; /* Centraliza a imagem horizontalmente */
    height: 20px 50px;
  }
  
  .imagem img {
    max-width: 100%; 
    height: auto; 
    border-radius: 8px; 
    
    
  }

/* ESTILO CABEÇALHO */


  
  
  